h5 from HEX
= form_tag '/make' do
  .name
    input type='text' placeholder='prefix name' name='p'
  .size
    .input-append
      input.span1 type='text' placeholder='width' name='w'
      span.add-on px
    | &nbsp;×&nbsp;
    .input-append
      input.span1 type='text' placeholder='height' name='h'
      span.add-on px
  .colors
    .input-prepend.input-append
      span.add-on #
      input.span2 type='text' placeholder='ex: #ffffff' name='c[0]'
      span.add-on.color
  .add
    i.icon-common.icon-plus
  .download
    button.btn.btn-mini.btn-primary type='submit'
      i.icon-common.icon-download.icon-white
      | &nbsp;Download

h5 from CSV
= form_tag '/csv', multipart: true do
  div
    input.btn type='file' name='csv'
  .download
    button.btn.btn-mini.btn-primary type='submit'
      i.icon-common.icon-download.icon-white
      | &nbsp;Download

coffee:
  $('.add i').click((e) ->
    e.preventDefault()
    c = $('.colors').last().clone()
    c.find('input').attr('name', "c[#{$('.colors').length}]")
    c.insertBefore($('.add'))
  )
