/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1, h5 {
  margin: 50px 0;
  text-align: center;
}

h1 {
  font-size: 500%;
}

form {
  text-align: center;
}

.download {
  margin-top: 20px;
}

.size {
  margin-bottom: 20px;
}

input {
  vertical-align: middle;
}
