doctype html
html
  head
    title Materialer
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  body

    .container
      h1 Materialer
      = yield
